:root {
  --branding-color: radial-gradient(
    circle at 10% 20%,
    rgb(0, 0, 0) 0%,
    rgb(64, 64, 64) 90.2%
  );
  --secondary-color: rgb(199, 199, 199);
  --box-shadow: 0 5px 10px white;
  --gradient-color-2: radial-gradient(
    circle at 24.1% 68.8%,
    rgb(50, 50, 50) 0%,
    rgb(0, 0, 0) 99.4%
  );
  --heading-font-family: "Times New Roman", Times, serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  background: var(--branding-color);
  color: white;
  margin-top: 100px;
  font-family: var(--default-font-family);
}

h1,
h2,
h3 {
  font-family: var(--heading-font-family);
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

h4 {
  font-family: var(--heading-font-family);
  font-size: 46px;
  color: black;
  font-weight: bold;
  opacity: 0.7;
}

p {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-family: var(--default-font-family);
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.hero {
  background: var(--branding-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  background: none;
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.hero h2 {
  font-family: var(--heading-font-family);
  line-height: 1.5;
  font-size: 24px;
}

.btn-branding { 
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-description{
  padding: 120px 60px;
}

@media (max-width: 900px){
    h1 {
    font-size: px;
    line-height: 2;
  }

  h2 {
    font-size: 44px;
  }
  
  .hero h3{
    font-size: 26px;
  }
  
  .hero {
    padding: 80px 20px;
  }

  .project-desciption {
    padding: 0;
    text-align: center;
  }
}

#featured {
  font-weight: bold;
  
}
.about-section{
  text-align: center;
  padding: 0;
}

.about-section h1 {
  font-size: 64px;
  line-height: 56px;
}

.about-section h2 {
  font-size: 18px;
  font-family: var(--heading-font-family) ;
}

.about-section-content {
  margin: 30px;
}
.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation-links a:hover {
  color: white;
  background: var(--branding-color);
  box-shadow: var(--box-shadow);
}

.about-link {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.homepage-link {
  color: var(--secondary-color);
  text-align: center;
  display: block;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-weight: 400;
} 

.btn-branding-outline {
  color: var(--secondary-color);
  text-decoration: none;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding a:hover {
  background: var(--branding-color);
  border: 1px solid var(--branding-color);
  box-shadow: var(--box-shadow)
}

.contact {
  background: none;
  text-decoration: none;
}

.contact:hover {
  text-shadow: var(--box-shadow);
}

footer{
  margin: 60px 0;
}

footer .contact-box{
  background-color: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}
footer .contact-box p {
  margin: 0;
}

footer .email-link{
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 24px;
}

footer .email-link:hover{
  color:white ;
}

footer .social-links a{
  margin: 0 20px;
  color: black;
  background-color: var(--secondary-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 150ms ease-in-out;
}

footer .social-links a:hover{
  color: white;
  background: var(--branding-color);
}

#contact {
  color: black;
}

#contact:hover{
  color: white;
  background: var(--branding-color);
  box-shadow: var(--box-shadow);
}

#code-source {
  background: none;
  color: var(--secondary-color);
}

.source-code {
  background: none;
  color: black;
  text-decoration: none;
}

.source-code:hover{
  color: white;
text-shadow: var(--box-shadow);
}