:root {
  --branding-color: radial-gradient(
    circle at 10% 20%,
    rgb(0, 0, 0) 0%,
    rgb(64, 64, 64) 90.2%
  );
  --secondary-color: rgb(199, 199, 199);
  --box-shadow: 0 5px 10px white;
  --gradient-color-2: radial-gradient(
    circle at 24.1% 68.8%,
    rgb(50, 50, 50) 0%,
    rgb(0, 0, 0) 99.4%
  );
  --heading-font-family: "Times New Roman", Times, serif;
}

body {
  background: var(--branding-color);
  color: white;
  margin-top: 100px;
}

h1,
h2,
h3 {
  font-family: var(--heading-font-family);
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.hero {
  background: var(--branding-color);
  text-align: center;
}

.about-section{
  text-align: center;
  padding: 0;
}

.about-section h1 {
  font-size: 64px;
  line-height: 56px;
}

.about-section h2 {
  font-size: 18px;
  font-family: var(--heading-font-family) ;
}

.about-section-content {
  margin: 30px;
}
.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation-links a:hover {
  color: white;
  background: var(--branding-color);
  box-shadow: var(--box-shadow);
}

.contact-link {
  background: var(--secondary-color);
  color: white;
}

.about-link {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.homepage-link {
  color: var(--secondary-color);
  text-align: center;
  display: block;
}
.primary-link {
  background: var(--secondary-color);
  color: white;
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
}

.primary-link a:hover {
  color: var(--branding-color);
  background: var(--gradient-color-2);
  box-shadow: var;
}
